#goal-template {

	font-family: 'Roboto', sans-serif;
	
	#goal-prompt-container {
		width: 75vw;
		height: 75vw;
		border-radius: 75vw;
		background-color: #FF9800;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
		font-weight: 300;
		font-size: 24px;
		line-height: 24px;
		color: #FFF;
		padding: 0px 30px;
		text-align: center;
	}

}